# CMake Files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
*.dir/

# Linux Files
Makefile
*.a
*~
*.swp

# Windows Files
*.sln
*.sdf
*.opensdf
*.suo
*.user
*.filters
*.vcxproj*
ipch/
Debug/
RelWithDebInfo/
MinSizeRel/
Release/
Win32/
x64/

# Temporary program files
*_geodesic_cache.dat
*.log
.qglviewer.xml
