# CMake Files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
*.dir/
*_autogen/

# Linux Files
Makefile
*.a
*~
*.swp
release/
debug/

# Windows Files
*.sln
*.sdf
*.opensdf
*.opendb
*.suo
*.user
*.filters
*.vcxproj*
ipch/
Debug/
RelWithDebInfo/
MinSizeRel/
Release/
Win32/
x64/

# Qt Files
moc_*.cpp

# Temporary program files
*_geodesic_cache.dat
*.log
.qglviewer.xml
*.cgal
*.obj
*.csv
